{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <title>{% block title %} Новости со всего мира {% endblock %}</title>

</head>
<body>
{% include 'inc/_nav.html'%}

<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
      {% block sidebar %} Sidebar {% endblock %}
    </div>
    <div class="col-md-8">
      {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% else %}
          <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
          </div>
        {% endif %}

      {% endfor %}
      {% endif %}

      {% block content %} Content {% endblock %}
      {% if page_obj.has_other_pages %}
      <nav aria-label="...">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <a class="page-link" href="?page={{ page_obj.number|add:-1 }}">Previous</a>
          {% endif %}
          {% for page in page_obj.paginator.page_range %}
          {% if page_obj.number == page %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
          </li>
          {% elif page > page_obj.number|add:-3 and page < page_obj.number|add:3 %}
          <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
          {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
          <a class="page-link" href="?page={{ page_obj.number|add:1 }}">Next</a>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>
</div>




<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</body>
</html>